<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Do not rewrite if requested target is an existing file or directory
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # Route all other URLs to the index.php front controller
    RewriteRule ^ index.php [L]
</IfModule>
